In [4]:
import pandas as pd
import numpy as np
import sklearn 
import matplotlib.pyplot as plt
import datetime as dt
import plotly.express as px
import seaborn as sns
import plotly.graph_objects as go

# Loading The Datasets

In [5]:
taxi_metadata = pd.read_csv('metaData_taxistandsID_name_GPSlocation.csv')
taxi_metadata

    ID                 Descricao       Latitude  Longitude
0    1                      Agra  41.1771457135  -8.609670
1    2                   Alameda    41.15618964  -8.591064
2    3                    Aldoar  41.1705249231  -8.665876
3    4                 Alfândega  41.1437639911  -8.621803
4    5                     Amial  41.1835097223  -8.612726
..  ..                       ...            ...        ...
58  59           Tenente Valadim  41.1607030178  -8.641205
59  60                  Trindade  41.1511237005  -8.609843
60  61  Vinte e Quatro de Agosto  41.1493101131  -8.600309
61  62                      Viso  41.1778737602  -8.646558
62  63               Santa Maria  41.1603753216  -8.609370

[63 rows x 4 columns]

In [6]:
taxi = pd.read_csv('train.csv')
taxi.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."

In [7]:
taxi.shape

(1710670, 9)

In [8]:
test = pd.read_csv('test_public.csv')
test.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA
0,T1,B,NaN,15.0,20000542,1408039037,A,False
1,T2,B,NaN,57.0,20000108,1408038611,A,False
2,T3,B,NaN,15.0,20000370,1408038568,A,False
3,T4,B,NaN,53.0,20000492,1408039090,A,False
4,T5,B,NaN,18.0,20000621,1408039177,A,False

In [9]:
test.shape

(320, 8)

# Exploring the Data

In [10]:
coords_list = []
for coordinates in taxi["POLYLINE"]:
    coordinates = coordinates[1:-1]
    coordinates = coordinates.split(']')
    for coord in coordinates[:-1]:
        coord = coord.replace('[', '')[1:]
        coords = coord.split(',')
        coords_list.append((float(coords[0]), float(coords[1])))

longitude = [coord[1] for coord in coords_list]
latitude = [coord[0] for coord in coords_list]

In [11]:
longitude

[41.141412,
 41.141376,
 41.14251,
 41.143815,
 41.144373,
 41.144778,
 41.144697,
 41.14521,
 41.14692,
 41.148225,
 41.150385,
 41.151213,
 41.15124,
 41.152203,
 41.152374,
 41.152518,
 41.15268,
 41.153022,
 41.154489,
 41.154507,
 41.154516,
 41.154498,
 41.154489,
 41.159826,
 41.159871,
 41.160114,
 41.160492,
 41.160951,
 41.161491,
 41.162031,
 41.16258,
 41.163192,
 41.163687,
 41.1642,
 41.164704,
 41.165136,
 41.166576,
 41.167962,
 41.168988,
 41.170005,
 41.170635,
 41.170671,
 41.140359,
 41.14035,
 41.140278,
 41.140368,
 41.140449,
 41.140602,
 41.141412,
 41.142789,
 41.144094,
 41.144805,
 41.144733,
 41.145174,
 41.146461,
 41.147316,
 41.148774,
 41.150628,
 41.152077,
 41.152464,
 41.152662,
 41.15277,
 41.152779,
 41.152563,
 41.153013,
 41.15358,
 41.154021,
 41.154507,
 41.154336,
 41.1543,
 41.154336,
 41.154354,
 41.1543,
 41.154282,
 41.1543,
 41.154264,
 41.141736,
 41.140566,
 41.154291,
 41.153814,
 41.153832,
 41.153787,
 41.153166,
 41.152572,
 41.152374,
 41.151213,
 41.150466,
 41.149062,
 41.148261,
 41.148225,
 41.148405,
 41.148414,
 41.148135,
 41.148027,
 41.14836,
 41.148351,
 41.147964,
 41.147172,
 41.146146,
 41.14503,
 41.144643,
 41.144769,
 41.144463,
 41.143401,
 41.141961,
 41.140863,
 41.14053,
 41.151951,
 41.151942,
 41.151933,
 41.15196,
 41.151933,
 41.151924,
 41.151924,
 41.150934,
 41.150232,
 41.148639,
 41.147316,
 41.146173,
 41.14503,
 41.14512,
 41.146479,
 41.145876,
 41.146479,
 41.146866,
 41.147055,
 41.148702,
 41.149224,
 41.148963,
 41.147604,
 41.147082,
 41.146614,
 41.146245,
 41.146317,
 41.146119,
 41.146101,
 41.146155,
 41.146101,
 41.14575,
 41.145705,
 41.145597,
 41.145417,
 41.144256,
 41.142555,
 41.142753,
 41.142825,
 41.142879,
 41.142888,
 41.142915,
 41.142915,
 41.18049,
 41.180517,
 41.180049,
 41.178888,
 41.178465,
 41.177961,
 41.177196,
 41.177925,
 41.177853,
 41.177277,
 41.177619,
 41.179221,
 41.178537,
 41.176674,
 41.17518,
 41.173308,
 41.171841,
 41.171949,
 41.173191,
 41.173776,
 41.17365,
 41.174379,
 41.17608,
 41.176431,
 41.176593,
 41.176755,
 41.177781,
 41.178078,
 41.178087,
 41.140674,
 41.140926,
 41.14152,
 41.140854,
 41.141295,
 41.141808,
 41.141916,
 41.140494,
 41.140008,
 41.140674,
 41.142753,
 41.143644,
 41.143698,
 41.144238,
 41.144688,
 41.145957,
 41.147136,
 41.149359,
 41.151879,
 41.153868,
 41.155434,
 41.155947,
 41.156271,
 41.157693,
 41.159439,
 41.160717,
 41.145948,
 41.145039,
 41.145021,
 41.146164,
 41.14683,
 41.147397,
 41.148018,
 41.148963,
 41.149368,
 41.150016,
 41.150736,
 41.150853,
 41.15097,
 41.150232,
 41.149827,
 41.148909,
 41.148567,
 41.148342,
 41.148585,
 41.147325,
 41.147262,
 41.147289,
 41.147001,
 41.146578,
 41.146578,
 41.146164,
 41.145408,
 41.145327,
 41.144445,
 41.144148,
 41.143608,
 41.142807,
 41.142681,
 41.142798,
 41.142798,
 41.142816,
 41.146182,
 41.145849,
 41.144832,
 41.145426,
 41.145408,
 41.145714,
 41.147046,
 41.147118,
 41.147298,
 41.147235,
 41.147217,
 41.147505,
 41.148603,
 41.148468,
 41.148927,
 41.150565,
 41.152284,
 41.154246,
 41.15547,
 41.155452,
 41.155803,
 41.157225,
 41.158242,
 41.159475,
 41.159718,
 41.160492,
 41.161563,
 41.161563,
 41.161554,
 41.161545,
 41.161536,
 41.161536,
 41.161545,
 41.161554,
 41.140557,
 41.140575,
 41.140566,
 41.140503,
 41.140341,
 41.140386,
 41.140485,
 41.140683,
 41.141088,
 41.141979,
 41.142942,
 41.143851,
 41.144787,
 41.144391,
 41.143536,
 41.143401,
 41.143239,
 41.143149,
 41.142348,
 41.143446,
 41.144796,
 41.1453,
 41.145561,
 41.145633,
 41.145759,
 41.146443,
 41.147289,
 41.14827,
 41.148423,
 41.149467,
 41.151294,
 41.153679,
 41.155983,
 41.157135,
 41.159187,
 41.161608,
 41.163453,
 41.163309,
 41.140557,
 41.141088,
 41.14143,
 41.140827,
 41.139522,
 41.138865,
 41.137551,
 41.136012,
 41.134563,
 41.134446,
 41.1345,
 41.134536,
 41.134518,
 41.134536,
 41.134545,
 41.134527,
 41.134392,
 41.134176,
 41.134158,
 41.148009,
 41.14773,
 41.148513,
 41.150313,
 41.151951,
 41.153517,
 41.155416,
 41.155479,
 41.155461,
 41.155461,
 41.155344,
 41.155335,
 41.155101,
 41.154579,
 41.153994,
 41.153832,
 41.155227,
 41.156838,
 41.157171,
 41.15727,
 41.157333,
 41.157351,
 41.168403,
 41.168358,
 41.167953,
 41.167125,
 41.166621,
 41.167476,
 41.167755,
 41.169321,
 41.168817,
 41.16924,
 41.168457,
 41.167197,
 41.165442,
 41.164065,
 41.164452,
 41.163201,
 41.163381,
 41.1642,
 41.164164,
 41.163444,
 41.16186,
 41.160564,
 41.160744,
 41.160942,
 41.161158,
 41.161221,
 41.161527,
 41.161788,
 41.161815,
 41.162031,
 41.162292,
 41.16258,
 41.162823,
 41.163165,
 41.163498,
 41.163759,
 41.163894,
 41.163903,
 41.163912,
 41.163921,
 41.164038,
 41.164182,
 41.1642,
 41.164218,
 41.155101,
 41.154912,
 41.154525,
 41.154228,
 41.154102,
 41.153832,
 41.153904,
 41.155803,
 41.157171,
 41.157252,
 41.15727,
 41.157369,
 41.158395,
 41.160042,
 41.1606,
 41.164155,
 41.166693,
 41.169123,
 41.171112,
 41.171166,
 41.171625,
 41.170968,
 41.168979,
 41.167062,
 41.166252,
 41.1642,
 41.163381,
 41.164326,
 41.165316,
 41.163858,
 41.16231,
 41.162265,
 41.153499,
 41.153481,
 41.153472,
 41.153472,
 41.153427,
 41.154156,
 41.155623,
 41.157351,
 41.159016,
 41.16015,
 41.160276,
 41.161545,
 41.162085,
 41.162391,
 41.162661,
 41.162751,
 41.162805,
 41.162841,
 41.163129,
 41.16339,
 41.163705,
 41.163993,
 41.164281,
 41.164722,
 41.166513,
 41.166972,
 41.166945,
 41.16744,
 41.168079,
 41.16798,
 41.168484,
 41.16843,
 41.168304,
 41.168295,
 41.14053,
 41.140521,
 41.140323,
 41.14035,
 41.140287,
 41.140467,
 41.140548,
 41.141097,
 41.142393,
 41.143167,
 41.143806,
 41.144436,
 41.144985,
 41.145084,
 41.145921,
 41.146839,
 41.147442,
 41.147955,
 41.149584,
 41.150727,
 41.150898,
 41.151861,
 41.153472,
 41.155056,
 41.156847,
 41.157477,
 41.157657,
 41.15826,
 41.164857,
 41.164704,
 41.164758,
 41.157954,
 41.159106,
 41.160978,
 41.163057,
 41.1633,
 41.1633,
 41.164407,
 41.164947,
 41.164893,
 41.163759,
 41.164254,
 41.164272,
 41.16474,
 41.165658,
 41.16726,
 41.168907,
 41.172093,
 41.174352,
 41.170365,
 41.17041,
 41.169546,
 41.169042,
 41.170482,
 41.169879,
 41.16924,
 41.169384,
 41.16942,
 41.169402,
 41.169393,
 41.169393,
 41.169393,
 41.169393,
 41.169393,
 41.169393,
 41.169393,
 41.169402,
 41.169411,
 41.169411,
 41.169411,
 41.169411,
 41.16942,
 41.169429,
 41.169402,
 41.169537,
 41.169555,
 41.170509,
 41.169708,
 41.169519,
 41.168286,
 41.166306,
 41.164695,
 41.164209,
 41.162976,
 41.162049,
 41.160069,
 41.15826,
 41.156955,
 41.157261,
 41.157405,
 41.157522,
 41.157522,
 41.163156,
 41.163003,
 41.162652,
 41.161437,
 41.160276,
 41.160519,
 41.161851,
 41.163354,
 41.163516,
 41.165226,
 41.166693,
 41.167845,
 41.169924,
 41.171877,
 41.1714,
 41.171562,
 41.173002,
 41.174442,
 41.174388,
 41.173857,
 41.173443,
 41.173029,
 41.172264,
 41.171373,
 41.169465,
 41.166945,
 41.164947,
 41.162238,
 41.158593,
 41.154903,
 41.151753,
 41.148756,
 41.145462,
 41.143167,
 41.142555,
 41.141934,
 41.141583,
 41.141538,
 41.141529,
 41.141538,
 41.141619,
 41.141619,
 41.141601,
 41.141592,
 41.141565,
 41.141565,
 41.141565,
 41.141574,
 41.141574,
 41.141565,
 41.141556,
 41.141556,
 41.141574,
 41.141565,
 41.141547,
 41.141547,
 41.141556,
 41.141556,
 41.141556,
 41.141556,
 41.141583,
 41.141637,
 41.141673,
 41.141835,
 41.142672,
 41.174055,
 41.174064,
 41.174073,
 41.174847,
 41.175549,
 41.176368,
 41.17716,
 41.177862,
 41.176872,
 41.17707,
 41.177457,
 41.178546,
 41.17977,
 41.180166,
 41.180562,
 41.181219,
 41.181642,
 41.181714,
 41.181714,
 41.149188,
 41.149296,
 41.150583,
 41.152266,
 41.154345,
 41.156739,
 41.159286,
 41.161464,
 41.163336,
 41.164632,
 41.165757,
 41.166135,
 41.168196,
 41.168826,
 41.168529,
 41.169258,
 41.169258,
 41.168979,
 41.170113,
 41.171202,
 41.172723,
 41.173947,
 41.175558,
 41.177367,
 41.17824,
 41.1786,
 41.151303,
 41.151474,
 41.152509,
 41.153409,
 41.153535,
 41.153688,
 41.154345,
 41.155164,
 41.155425,
 41.155704,
 41.156478,
 41.157954,
 41.159412,
 41.160357,
 41.16114,
 41.168574,
 41.167926,
 41.166576,
 41.166396,
 41.166819,
 41.168394,
 41.169906,
 41.171454,
 41.173479,
 41.17527,
 41.17644,
 41.177241,
 41.178069,
 41.178924,
 41.17968,
 41.180643,
 41.18193,
 41.183541,
 41.184108,
 41.182452,
 41.180589,
 41.179104,
 41.179365,
 41.179374,
 41.179374,
 41.179437,
 41.179779,
 41.180463,
 41.181912,
 41.182821,
 41.183082,
 41.183136,
 41.183145,
 41.18319,
 41.184,
 41.184648,
 41.183892,
 41.183253,
 41.182632,
 41.181831,
 41.181795,
 41.181822,
 41.181813,
 41.140377,
 41.140359,
 41.140368,
 41.14035,
 41.140269,
 41.140215,
 41.140422,
 41.140701,
 41.14116,
 41.142285,
 41.143032,
 41.143932,
 41.14458,
 41.144787,
 41.144787,
 41.144796,
 41.144886,
 41.144103,
 41.143158,
 41.143149,
 41.143167,
 41.143158,
 41.142501,
 41.143338,
 41.145084,
 41.145192,
 41.145444,
 41.145525,
 41.145687,
 41.145678,
 41.146875,
 41.149197,
 41.151816,
 41.154129,
 41.15592,
 41.160969,
 41.1615,
 41.161527,
 41.162022,
 41.163039,
 41.163993,
 41.165109,
 41.166306,
 41.167197,
 41.168169,
 41.169492,
 41.169438,
 41.168871,
 41.168502,
 41.168331,
 41.168493,
 41.168169,
 41.167881,
 41.167881,
 41.167899,
 41.170626,
 41.170653,
 41.171319,
 41.172453,
 41.173875,
 41.175378,
 41.176413,
 41.17725,
 41.177754,
 41.177763,
 41.177763,
 41.17779,
 41.176773,
 41.177169,
 41.177772,
 41.177898,
 41.178708,
 41.180409,
 41.182677,
 41.183631,
 41.185359,
 41.18697,
 41.187816,
 41.187816,
 41.187816,
 41.187816,
 41.168295,
 41.16825,
 41.168205,
 41.168178,
 41.168187,
 41.168187,
 41.168223,
 41.168232,
 41.148333,
 41.148297,
 41.148153,
 41.148045,
 41.14836,
 41.149206,
 41.150313,
 41.151096,
 41.152311,
 41.153481,
 41.154021,
 41.154003,
 41.154282,
 41.15583,
 41.15799,
 41.159079,
 41.157216,
 41.154507,
 41.151915,
 41.149269,
 41.146272,
 41.143248,
 41.139909,
 41.136462,
 41.132709,
 41.128938,
 41.125068,
 41.121423,
 41.118444,
 41.116266,
 41.114943,
 41.114034,
 41.113116,
 41.112171,
 41.111145,
 41.109264,
 41.107716,
 41.10939,
 41.112243,
 41.114583,
 41.115573,
 41.114997,
 41.113944,
 41.112477,
 41.111037,
 41.109201,
 41.108238,
 41.106591,
 41.104881,
 41.103477,
 41.102469,
 41.101308,
 41.100174,
 41.098824,
 41.097942,
 41.097276,
 41.097357,
 41.159592,
 41.15925,
 41.158881,
 41.158926,
 41.160276,
 41.161095,
 41.161842,
 41.161806,
 41.162598,
 41.163597,
 41.163471,
 41.163354,
 41.16303,
 41.162724,
 41.16249,
 41.162202,
 41.161905,
 41.161707,
 41.1615,
 41.160105,
 41.158242,
 41.156145,
 41.15412,
 41.152455,
 41.15106,
 41.150331,
 41.150367,
 41.150403,
 41.150439,
 41.154444,
 41.153733,
 41.154642,
 41.156667,
 41.157324,
 41.158701,
 41.160429,
 41.161581,
 41.162292,
 41.164092,
 41.164434,
 41.164902,
 41.166378,
 41.166585,
 41.166945,
 41.166909,
 41.1669,
 41.166891,
 41.149431,
 41.149368,
 41.148243,
 41.147901,
 41.148207,
 41.147469,
 41.147352,
 41.146893,
 41.146812,
 41.146839,
 41.146839,
 41.16285,
 41.162976,
 41.164443,
 41.164479,
 41.164362,
 41.164785,
 41.165433,
 41.165334,
 41.164029,
 41.163903,
 41.164551,
 41.165586,
 41.165793,
 41.166621,
 41.167386,
 41.168169,
 41.168178,
 41.168187,
 41.182704,
 41.182785,
 41.182263,
 41.181345,
 41.179212,
 41.17707,
 41.174991,
 41.173848,
 41.173704,
 41.173722,
 41.173722,
 41.173722,
 41.173722,
 41.173722,
 41.172777,
 41.171607,
 41.169825,
 41.167575,
 41.16663,
 41.166594,
 41.166252,
 41.165613,
 41.164542,
 41.16357,
 41.162562,
 41.162571,
 41.161617,
 41.161023,
 41.158773,
 41.156118,
 41.153778,
 41.151816,
 41.15034,
 41.149125,
 41.148252,
 41.148144,
 41.148072,
 41.147991,
 41.147991,
 41.148252,
 41.14737,
 41.147325,
 41.14728,
 41.147271,
 41.147199,
 41.150529,
 41.150502,
 41.150259,
 41.150025,
 41.150376,
 41.151555,
 41.151852,
 41.153085,
 41.153652,
 ...]

In [ ]:
heat_data = pd.DataFrame(
    list(zip(latitude, longitude)),
    columns=["latitude", "longitude"]
)

In [ ]:
heat_data['latitude'] =heat_data['latitude'].astype(np.float16)
heat_data['longitude'] = heat_data['longitude'].astype(np.float16)
heat_data

In [ ]:
heat_data_2 = heat_data.groupby(["latitude", "longitude"]).size().reset_index()

In [ ]:
heat_data_2

In [ ]:
heat_data_3 = heat_data_2.rename(columns = {0:'counts'})
heat_data_3['counts'] = heat_data_3['counts'].astype(np.uint16)
heat_data_3.sort_values('counts')

In [ ]:
heat_data_3

In [ ]:
heat_data_pivot = heat_data_3.pivot(index="latitude", columns = "longitude", values= "counts")

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming your dataframe is called 'df' with columns: latitude, longitude, counts

# Create a pivot table to reshape the data for the heatmap

# Create the heatmap using Seaborn
plt.figure(figsize=(12, 8))  # Set the figure size
sns.heatmap(heat_data_pivot)  # Set the color map, annotations, and color bar

### Missing Data Column

In [ ]:
taxi[taxi['MISSING_DATA'] == True]
#10 missing

Here it looks like the missing data does not apply to many columns (only 10), which probably means its not that great of a tool to use.

### Adding Ride Duration
This code taken from discussion adds the ride duration to the table (the prediction we are looking for)

In [ ]:
# Over every single 
def polyline_to_trip_duration(polyline):
  return max(polyline.count("[") - 2, 0) * 15

# This code creates a new column, "LEN", in our dataframe. The value is
# the (polyline_length - 1) * 15, where polyline_length = count("[") - 1
ride_duration = taxi["POLYLINE"].apply(polyline_to_trip_duration)

In [ ]:
taxi_time = taxi.copy()
taxi_time['RIDE_DURATION'] = ride_duration
taxi_time

In [ ]:
taxi_time

# Distribution of Travel Time

In [ ]:
ride_mean = taxi_time['RIDE_DURATION'].mean()
ride_std = taxi_time['RIDE_DURATION'].std()

In [ ]:
def standarize(col):
    return (col - ride_mean)/ride_std
taxi_time['RIDE_DURATION_STANDARD'] = taxi_time['RIDE_DURATION'].apply(standarize)

In [ ]:
log_plot = taxi_time.plot(kind = 'hist', y = 'RIDE_DURATION',log=True, bins=20, title = 'Ride Distribution Logged')
log_plot.set_xlabel("Log Ride Duration")
log_plot.set_ylabel("y label")

In [ ]:
missing_outliers =taxi_time[taxi_time['RIDE_DURATION_STANDARD'].abs() <=3]

In [ ]:
standard_plot = missing_outliers.plot(kind = 'hist', y = 'RIDE_DURATION', bins = 20, title = 'Standardized Ride Duration Distribution without Outliers')
standard_plot.set_xlabel("Standardized Ride Duration")
standard_plot.set_ylabel("y label")

In [ ]:
taxi_time

### Longest Ride

In [ ]:
taxi_time['RIDE_DURATION'].idxmax()

In [ ]:
test = eval(taxi_time.loc[1093727]['POLYLINE'])
test

In [ ]:
print(test[0],test[-1])

The longest ride only covers a 15 minute distance by taxi? Very strange

### Plots

In [ ]:
taxi_time.plot(kind = 'scatter', x = 'TIMESTAMP', y = 'RIDE_DURATION', title = 'Timestamp vs Ride Duration Scatter Plot')

Before cleaning the timestamp data, it looks like there is a lot of outlier data of really really long rides

#### Using datetime

In [ ]:
taxi_time['TIMESTAMP'].apply(dt.datetime.fromtimestamp)

#### Changing TIMESTAMP from Epoch to datetime

In [ ]:
taxi_time['TIMESTAMP'] = taxi_time['TIMESTAMP'].apply(dt.datetime.fromtimestamp)
taxi_time

### Adding a weekday column

In [ ]:
taxi_time['WEEKDAY'] = taxi_time['TIMESTAMP'].dt.weekday
taxi_time

### Ride Duration vs. Weekday

In [ ]:
taxi_time.plot(kind='box', by = 'WEEKDAY', column = 'RIDE_DURATION', title = 'Ride Duration per Day')

In [ ]:
taxi_time.plot(kind='box', by = 'WEEKDAY', column = 'RIDE_DURATION', showfliers=False, title = 'Ride Duration per Day, no outliers')

All the medians of every weekday is the same, but the quantiles for Saturday/Sunday are a bit smaller. Again we can see a lot of outlier data.

### Using hour of the day instead

In [ ]:
taxi_time['HOUR'] = taxi_time['TIMESTAMP'].dt.hour
taxi_time

In [ ]:
taxi_time.plot(kind='box', by = 'HOUR', column = 'RIDE_DURATION', title = 'Ride Duration per Hour')

In [ ]:
taxi_time.plot(kind='box', by = 'HOUR', column = 'RIDE_DURATION', showfliers=False, title = 'Ride Duration per Hour, no outliers')

Morning hours: 8 to 12 have the longest ride durations on avg, but the median does not move too too much considering the scale of the data. The outliers seem to go even longer in ride duration for the more extreme times, (12AM - 5AM and 11PM)

### Ride Duration vs Call_Type

In [ ]:
taxi_time.plot(kind='box', by = 'CALL_TYPE', column = 'RIDE_DURATION', title='Ride Duration per Call Type' )

In [ ]:
taxi_time.plot(kind='box', by = 'CALL_TYPE', column = 'RIDE_DURATION', showfliers=False, title = 'Ride Duration per Call Type, no outliers')

It seems like though their medians are the same again, call_type C has a larger range it covers.

### Ride Duration x Taxi_ID

In [ ]:
taxi_time_by_ID = taxi_time.groupby("TAXI_ID")['RIDE_DURATION'].mean()
taxi_time_by_ID.reset_index().plot(kind = 'scatter', x= 'TAXI_ID', y = 'RIDE_DURATION', title='Average Ride Duration per Taxi')

Certain taxi's have very different means, though most are the same

### Generally (NOT THE FINAL MODEL)
There is a lot of outlier data so it kind of seems like the challenge is in predicting when something is an outlier?
Polyline seems the most powerful to use but seems kind of weird with the metadata table

In [ ]:
taxi_time

In [24]:
import torch
import torch.nn as nn
import torch.nn.functional as F

In [31]:
X_0 = torch.tensor(taxi.iloc[:,5]).view(-1, 1, 1)
y = torch.tensor(taxi_time.iloc[:,9])

In [32]:
X_1 = torch.tensor(taxi_time.iloc[:,10]).view(-1, 1, 1)
X_2 = torch.tensor(taxi_time.iloc[:,11]).view(-1, 1, 1)

In [27]:
X_1 = torch.tensor(taxi_time.iloc[:,10])

In [28]:
X_1=F.one_hot(X_1)

In [29]:
X_2=F.one_hot(X_2)

In [33]:
X = torch.cat((X_0,X_1,X_2), dim=1)
X

tensor([[[1372636858],
         [         6],
         [        17]],

        [[1372637303],
         [         6],
         [        17]],

        [[1372636951],
         [         6],
         [        17]],

        ...,

        [[1388745716],
         [         4],
         [         2]],

        [[1404141826],
         [         0],
         [         8]],

        [[1404157147],
         [         0],
         [        12]]])

In [ ]:
X_0.dim()

In [ ]:
X_0.size()

In [ ]:
X_1.dim()

In [ ]:
print(X)

In [ ]:
print(y)

In [34]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader

In [ ]:
print(X)
print(y)

In [ ]:
X_1.shape

In [35]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader

# Define the RNN model
class RNN(nn.Module):
    def __init__(self, input_size, hidden_size, output_size):
        super(RNN, self).__init__()
        self.hidden_size = hidden_size
        self.rnn = nn.RNN(input_size, hidden_size, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        out, _ = self.rnn(x)
        out = self.fc(out[:, -1, :])  # Take the last output of the sequence
        return out

# Define the hyperparameters
input_size = 1  # Size of the input feature vector (including datetime as floats)
hidden_size = 5  # Number of hidden units in the RNN layer
output_size =1  # Desired output size

# Create the RNN model
model = RNN(input_size, hidden_size, output_size)

# Define the loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

# Prepare the data
X = X  # Input tensor with shape (num_samples, input_size)
y = y  # Target tensor with shape (num_samples, output_size)
batch_size = 32  # Number of samples in each batch
sequence_length = 1  # Number of time steps or length of the sequence

# Reshape the input tensor to (batch_size, sequence_length, input_size)
#X = X.view(-1, sequence_length, input_size)

# Convert the input tensor to the appropriate data type
X = X.float()  # Assuming the input tensor is of type float

# Convert the target tensor to the appropriate data type
y = y.float()  # Assuming the target tensor is of type float

# Create a dataset and data loader
dataset = torch.utils.data.TensorDataset(X, y.unsqueeze(1))
data_loader = DataLoader(dataset, batch_size=batch_size, shuffle=True)

# Train the model
num_epochs = 10
model.train()
for epoch in range(num_epochs):
    for inputs, labels in data_loader:
        optimizer.zero_grad()
        outputs = model(inputs)
        loss = criterion(outputs, labels)
        loss.backward()
        optimizer.step()

    print('Epoch [{}/{}], Loss: {:.4f}'.format(epoch+1, num_epochs, loss.item()))

Epoch [1/10], Loss: 340203.0312
Epoch [2/10], Loss: 76484.1016
Epoch [3/10], Loss: 98877.6875
Epoch [4/10], Loss: 283866.4062
Epoch [5/10], Loss: 2272413.5000
Epoch [6/10], Loss: 2630048.0000
Epoch [7/10], Loss: 129550.5469
Epoch [8/10], Loss: 339796.0625
Epoch [9/10], Loss: 194489.0469
Epoch [10/10], Loss: 144576.1250

In [37]:
test['TIMESTAMP2'] = test['TIMESTAMP'].apply(dt.datetime.fromtimestamp)
test['WEEKDAY'] = test['TIMESTAMP2'].dt.weekday
test['HOUR'] = test['TIMESTAMP2'].dt.hour

In [38]:
test

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,TIMESTAMP2,WEEKDAY,HOUR
0,T1,B,NaN,15.0,20000542,1408039037,A,False,2014-08-14 10:57:17,3,10
1,T2,B,NaN,57.0,20000108,1408038611,A,False,2014-08-14 10:50:11,3,10
2,T3,B,NaN,15.0,20000370,1408038568,A,False,2014-08-14 10:49:28,3,10
3,T4,B,NaN,53.0,20000492,1408039090,A,False,2014-08-14 10:58:10,3,10
4,T5,B,NaN,18.0,20000621,1408039177,A,False,2014-08-14 10:59:37,3,10
...,...,...,...,...,...,...,...,...,...,...,...
315,T323,A,70885.0,NaN,20000430,1419171485,A,False,2014-12-21 06:18:05,6,6
316,T324,B,NaN,53.0,20000020,1419170802,A,False,2014-12-21 06:06:42,6,6
317,T325,C,NaN,NaN,20000207,1419172121,A,False,2014-12-21 06:28:41,6,6
318,T326,A,76232.0,NaN,20000667,1419171980,A,False,2014-12-21 06:26:20,6,6
319,T327,A,31208.0,NaN,20000255,1419171420,A,False,2014-12-21 06:17:00,6,6

In [39]:
X_0_test = torch.tensor(test.loc[:,'TIMESTAMP']).view(-1, 1, 1)
X_1_test = torch.tensor(test.loc[:,'WEEKDAY']).view(-1, 1, 1)
X_2_test = torch.tensor(test.loc[:,'HOUR']).view(-1, 1, 1)
X_test = torch.cat((X_0,X_1,X_2), dim=1)
X_test

tensor([[[1372636858],
         [         6],
         [        17]],

        [[1372637303],
         [         6],
         [        17]],

        [[1372636951],
         [         6],
         [        17]],

        ...,

        [[1388745716],
         [         4],
         [         2]],

        [[1404141826],
         [         0],
         [         8]],

        [[1404157147],
         [         0],
         [        12]]])

In [40]:
# Make predictions
input_data = X_test  # Input data for prediction
input_data = input_data.float()
#input_data = input_data.view(-1, sequence_length, input_size)  # Reshape input data
model.eval()
with torch.no_grad():
    predicted_length = model(input_data)
    # Process the predicted_length as needed

In [41]:
predicted_length[100:]

tensor([[716.5098],
        [716.5098],
        [716.5098],
        ...,
        [716.5098],
        [716.5098],
        [716.5098]])

Epoch [1/10], Loss: 1299526.6250  
Epoch [2/10], Loss: 930793.4375  
Epoch [3/10], Loss: 924016.0625  
Epoch [4/10], Loss: 1059439.5000\
Epoch [5/10], Loss: 893517.5625  
Epoch [6/10], Loss: 875885.5625  
Epoch [7/10], Loss: 1038007.5000  
Epoch [8/10], Loss: 832659.8125  
Epoch [9/10], Loss: 853388.8125  
Epoch [10/10], Loss: 932536.7500

Epoch [1/10], Loss: 1053554.5000  
Epoch [2/10], Loss: 900108.8750  
Epoch [3/10], Loss: 939586.4375   
Epoch [4/10], Loss: 999130.5000  
Epoch [5/10], Loss: 1102338.6250  
Epoch [6/10], Loss: 924688.1250  
Epoch [7/10], Loss: 935497.6875  
Epoch [8/10], Loss: 1037631.3125  
Epoch [9/10], Loss: 1001276.6875  
Epoch [10/10], Loss: 865614.0625

Epoch [1/10], Loss: 900378.6250  
Epoch [2/10], Loss: 1437580.2500  
Epoch [3/10], Loss: 966248.5000  
Epoch [4/10], Loss: 672383.5000  
Epoch [5/10], Loss: 859662.0625  
Epoch [6/10], Loss: 775767.8750  
Epoch [7/10], Loss: 806070.7500  
Epoch [8/10], Loss: 828144.6250  
Epoch [9/10], Loss: 766353.5000  
Epoch [10/10], Loss: 767913.6250

ONLY TIMESTAMP, BATCH SIZE 10,000  
Epoch [1/10], Loss: 1265142.2500  
Epoch [2/10], Loss: 865049.4375  
Epoch [3/10], Loss: 1150960.3750  
Epoch [4/10], Loss: 1672608.5000  
Epoch [5/10], Loss: 787070.8750  
Epoch [6/10], Loss: 1238790.2500   
Epoch [7/10], Loss: 892537.5000   
Epoch [8/10], Loss: 777911.1250  
Epoch [9/10], Loss: 964179.5625  
Epoch [10/10], Loss: 778252.6875

ONLY TIMESTAMP, BATCH SIZE 100  
Epoch [1/10], Loss: 692714.4375  
Epoch [2/10], Loss: 988889.9375  
Epoch [3/10], Loss: 465492.8438  
Epoch [4/10], Loss: 390377.0938  
Epoch [5/10], Loss: 590159.1875  
Epoch [6/10], Loss: 411535.9062  
Epoch [7/10], Loss: 632980.3750  
Epoch [8/10], Loss: 237929.1094  
Epoch [9/10], Loss: 317498.6562  
Epoch [10/10], Loss: 346617.0000

Timestamp + Month + Weekday, Batch Size 100  
Epoch [1/10], Loss: 608369.1250  
Epoch [2/10], Loss: 2341298.7500  
Epoch [3/10], Loss: 484578.4062  
Epoch [4/10], Loss: 371228.8438  
Epoch [5/10], Loss: 675651.3125  
Epoch [6/10], Loss: 182676.0781   
Epoch [7/10], Loss: 173883.0781  
Epoch [8/10], Loss: 152131.6562  
Epoch [9/10], Loss: 228523.1406  
Epoch [10/10], Loss: 189525.7969

import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, random_split

# Define the RNN model
class RNN(nn.Module):
    def __init__(self, input_size, hidden_size, output_size):
        super(RNN, self).__init__()
        self.hidden_size = hidden_size
        self.rnn = nn.RNN(input_size, hidden_size, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        out, _ = self.rnn(x)
        out = self.fc(out[:, -1, :])  # Take the last output of the sequence
        return out

# Define the hyperparameters
input_size = 1  # Size of the input feature vector (including datetime as floats)
hidden_size = 3  # Number of hidden units in the RNN layer
output_size = 1  # Desired output size

# Create the RNN model
model = RNN(input_size, hidden_size, output_size)

# Define the loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

# Prepare the data
X = X  # Input tensor with shape (num_samples, input_size)
y = y  # Target tensor with shape (num_samples, output_size)
batch_size = 10  # Number of samples in each batch
sequence_length = 1  # Number of time steps or length of the sequence

# Convert the input tensor to the appropriate data type
X = X.float()  # Assuming the input tensor is of type float

# Convert the target tensor to the appropriate data type
y = y.float()  # Assuming the target tensor is of type float

# Create a dataset
dataset = torch.utils.data.TensorDataset(X, y.unsqueeze(1))

# Define the ratio of training set size to the whole dataset
train_ratio = 0.8  # 80% for training, 20% for testing

# Calculate the sizes of the training set and test set based on the ratio
dataset_size = len(dataset)
train_size = int(train_ratio * dataset_size)
test_size = dataset_size - train_size

# Split the dataset into training set and test set
train_dataset, test_dataset = random_split(dataset, [train_size, test_size])

# Create separate DataLoaders for training set and test set
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=False)

# Train the model
num_epochs = 10
model.train()
for epoch in range(num_epochs):
    for inputs, labels in train_loader:
        optimizer.zero_grad()
        outputs = model(inputs)
        loss = criterion(outputs, labels)
        loss.backward()
        optimizer.step()

    print('Epoch [{}/{}], Loss: {:.4f}'.format(epoch+1, num_epochs, loss.item()))

# Evaluate the model on the test set
model.eval()
total_loss = 0
with torch.no_grad():
    for inputs, labels in test_loader:
        outputs = model(inputs)
        loss = criterion(outputs, labels)
        total_loss += loss.item()

    test_loss = total_loss / len(test_loader)
    print('Test Loss: {:.4f}'.format(test_loss))

# Make predictions
input_data = X  # Input data for prediction
input_data = input_data.float()
model.eval()
with torch.no_grad():
    predicted_length = model(input_data)
    # Process the predicted_length as needed